body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #a3946a;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #493324;
  position: sticky;
}


header a {
  text-decoration: none;
  color: #a3946a;
}

h1 {
  margin-right: auto;
  margin-left: 3rem;
  letter-spacing: 7px;
  font-weight: 900;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

h1:hover {
  opacity: 1;
}

nav {
  overflow: hidden;
}

.navigation {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.navigation li{
  margin-right: 3rem;
  transition: all 0.1s ease-in-out;
}

.navigation li:hover {
  transform: scale(1.1);
}

main.landing {
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.45)
  ), url('../images/landing-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.landing a, main.landing a:hover {
  text-decoration: none;
  color: #a3946a;
}

.freshProduce {

}